{{stars-overlay}}
<div id="banking-wrapper" class="icon-wrapper" {{action "openModal" banking}}>
  <div id="banking" class="icon"></div>
  <div class="icon-title">
    <div class="header">Banking 3.0</div>
  </div>
</div>

<div id="iot-wrapper" class="icon-wrapper" {{action "openModal" iot}}>
  <div id="iot" class="icon"></div>
  <div class="icon-title">
    <div class="header">iOT</div>
    <div class="subheader">Variable devices</div>
  </div>
</div>

<div id="voice-recognition-wrapper" class="icon-wrapper" {{action "openModal" voiceRecognition}}>
  <div class="icon-title">
    <div class="header">Voice</div>
    <div class="subheader">Recognition</div>
  </div>
  <div id="voice-recognition" class="icon"></div>
</div>

<div id="transfers-wrapper" class="icon-wrapper" {{action "openModal" transfers}}>
  <div class="icon-title">
    <div class="header">Переводы</div>
  </div>
  <div id="transfers" class="icon"></div>
</div>

<div id="vr-wrapper" class="icon-wrapper" {{action "openModal" vr}}>
  <div class="icon-title">
    <div class="header">VR</div>
    <div class="subheader">недвижимость</div>
  </div>
  <div id="vr" class="icon"></div>
</div>
<div id="open-mobile-wrapper" class="icon-wrapper" {{action "openModal" openMobile}}>
  <div class="icon-title">
    <div class="header">Открытие</div>
    <div class="subheader">Mobile</div>
  </div>
  <div id="open-mobile" class="icon"></div>
</div>

<div id="fintech-events-wrapper" class="icon-wrapper" {{action "openModal" fintechEvents}}>
  <div class="icon-title">
    <div class="header">FinTech</div>
    <div class="subheader">Events</div>
  </div>
  <div id="fintech-events" class="icon"></div>
</div>

<div id="blockchain-wrapper" class="icon-wrapper" {{action "openModal" blockchain}}>
  <div class="icon-title">
    <div class="header">BlockChain</div>
  </div>
  <div id="blockchain" class="icon"></div>
</div>

<div id="srl-wrapper" class="icon-wrapper" {{action "openModal" srl}}>
  <div class="icon-title">
    <div class="header">СРЛ</div>
  </div>
  <div id="srl" class="icon"></div>
</div>

<div id="chat-bot-wrapper" class="icon-wrapper" {{action "openModal" chatBot}}>
  <div class="icon-title">
    <div class="header">ChatBot</div>
  </div>
  <div id="chat-bot" class="icon"></div>
</div>

<div id="med-tech-wrapper" class="icon-wrapper" {{action "openModal" medtech}}>
  <div class="icon-title">
    <div class="header">MedTech</div>
  </div>
  <div id="med-tech" class="icon"></div>
</div>

<div id="digital-ethics-wrapper" class="icon-wrapper" {{action "openModal" digitalEthics}}>
  <div class="icon-title">
    <div class="header">Цифровая</div>
    <div class="subheader">этика</div>
  </div>
  <div id="digital-ethics" class="icon"></div>
</div>

<div id="hr-tech-wrapper" class="icon-wrapper" {{action "openModal" hrTech}}>
  <div class="icon-title">
    <div class="header">HRtech</div>
  </div>
  <div id="hr-tech" class="icon"></div>
</div>

<div id="life-style-wrapper" class="icon-wrapper" {{action "openModal" lifeStyle}}>
  <div class="icon-title">
    <div class="header">LifeStyle</div>
  </div>
  <div id="life-style" class="icon"></div>
</div>

{{bot-helper isPlaying=isPlaying modalItem=modalItem isModalOpen=isModalOpen}}
{{modal-dialog isModalOpen=isModalOpen item=modalItem isPlaying=isPlaying}}